<div class="footer">
  <div class="footer-block-title">
    <p class="footer-title">auto.market</p>

    <div class="footer-title-icon">
      <img class="footer-icon" src="assets/icon/facebook.svg">
      <img class="footer-icon" src="assets/icon/instagram.svg">
      <img class="footer-icon" src="assets/icon/twitter.svg">
    </div>
  </div>

  <div class="footer-block">
    <p>Home</p>
    <p>Sell Car</p>
    <p>Buy Car</p>
    <p>Dealers</p>
  </div>

  <div class="footer-block">
    <p>Trems of Use</p>
    <p>Privacy Policy</p>
    <p>Cookie Policy</p>
    <p>AdChoice</p>
  </div>

  <div class="footer-block">
    <p>Contact Us</p>
    <p>Careers</p>
    <p>Help</p>
    <p>FAQ</p>
  </div>

  <div class="footer-play">
    <img class="play-store" src="assets/images/image005.png">
    <img class="play-store" src="assets/images/image004.png">
    <select id="language" name="language" required>
      <option value="en">🇨🇦&emsp;English</option>
      <option value="fr">🇫🇷&emsp;French</option>
      <option value="ar">🇩🇿&emsp;Arabic</option>
    </select>
  </div>
</div>

<div class="footer-block">
  <p class="footer-block-text">© auto.market / 2000 - 2020. All rights reserved</p>
</div>
